
body {

  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;

}


.font-default {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
}

.font-title {
  font-family: "Roboto Condensed", "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
   font-weight: bold;
}

