

.category-item {
  padding: 0.75em;
}

.category-item:active, .category-item.is-selected, .category-item.is-active {
  background-color: #BBBEBB;
  font-weight: bold;
}

.category-item > .category-icon {

	display: table-cell;
	vertical-align: middle;

}

.category-item > .category-item-desc {

	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding-left: 0.75em;

}

.event-item {
	padding-left: 0.75em;
	padding-right: 0.75em;
}


.event-item.is-content-visible {


}



#show-info {

  border-top: 1px solid #eff1f1;
  border-bottom: 1px solid #A6A6A6;
  background-color: #BBBEBB;

  padding: 0.3em 0em;
  display: table;
  width: 100%;

}

#show-info-date,
#show-info-category {
  font-size: 0.8em;
  font-style: italic;
	display: table-cell;
	width: 50%;
}

#show-info-category {
  text-align: left;
	padding-left: 0.5em;
}

#show-info-date {
  text-align: right;
	padding-right: 0.5em;
}

.event-title {
	position: relative;
	width:100%;
  font-weight: bold;
  font-size: 1.1rem;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
}

.event-left, .event-middle, .event-right {
  display: table-cell;
  vertical-align: middle;
}


.event-middle {
  padding-right: 0.75em;
  padding-left: 0.75em;
  width: 100%;

  font-size: 1.2rem;
}

.event-place {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8rem;

}


.event-item.is-content-visible .event-place {
  display: none;
}

.event-right {
  display: none;
}

.event-right > .event-toggle-icon {
  float: left;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.event-item > .event-content {
  display: none;
  padding-top: 0.5rem;
}

.event-item.is-content-visible > .event-content {
  display: block;
  -webkit-animation: fadeIn 0.5s;
}

.empty-text {

	width: 80%;
	margin: 0 auto;
	margin-top: 35%;

}

.topcoat-list, .topcoat-list__container {
	border-top: none;
}

#show-info {

}

